#chat {
  min-height: 100vh;

  #messages {
    position: relative;
    bottom: 0;
    height: calc(100vh - 115px);
    padding: 15px 0;
    overflow-y: scroll;
    margin-bottom: 15px;
  }

  textarea {
    height: 90px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    padding: 5px 8px;
    outline: none;
    color: #666;
  }
}