.message {

  background-color: #fff;
  
  position: relative;

  .media-heading {
    font-weight: bold;

    span {
      color: #ccc;
      font-size: 0.8em;
      font-weight: normal;
    }
  }

  p {
    margin-bottom: 0;
  }

  button.delete {
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover {
    button.delete {
      z-index: 10;
      opacity: 1;
    }
  }
}